# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/golang:1.15

      - image: circleci/postgres:9.6-alpine
        environment: # envirognment variables for primary container
          POSTGRES_USER: "postgres"
          POSTGRES_DB: "scrapmon-db"
          POSTGRES_PASSWORD: "password"
    working_directory: /go/src/github.com/slysterous/scrapmon
    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.25.3/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker
      - run: go get golang.org/x/lint/golint
      - run: make fmt
      - run: make ci
      - run: go get github.com/mattn/goveralls
      - run: GO111MODULE=off $GOPATH/bin/goveralls -coverprofile=coverage.out -service=circle-ci -repotoken=$COVERALLS_TOKEN
